body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: url("./images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

img {
  width: 80%;
  margin: 20px 10%;
}

header {
  background-color: #edeff1;
  color: white;
  text-align: center;
}

section {
  font-family: "din-2014", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
  border-radius: 4px;
  background-color: rgba(225, 240, 255, 0.9);
  text-align: center;
  width: 80%;
  margin: 50px auto;

  h1 {
    font-size: 3rem;
  }
}

main {
  /* padding: 2rem; */
}

h1,
h2 {
  color: #404856;
  margin: 20px;
}

p {
  color: #404856;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

a {
  color: #02bbb8;
  font-size: 24px;
  transition: color 0.3s;
}

a:hover {
  color: #404856;
}

footer {
  /* background-color: #edeff1; */
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
